*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #c1853b;
}
.header{
    background-color: #2f0505;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.header p{
    color: #ccc;
}
.container{
    text-align: center;
    font-size: small;
   padding-top: 20px;
}
.box{
    height: 400px;
    width: 200px;
    border: solid black 1px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #FFF2E1;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.2);
    box-shadow:  0 5px 15px rgba(0,0,0,0.5);
}
img {
    max-width: 100%;
    max-height: 100%;
}

.container__title{
    font-weight: bold;
}
.container__img{
    width: 200px;
    height: 200px;
    
}
.container__desc{
    padding-top: 10px;
}
.container__button{
    border: 1px solid #ccc;
    margin-top: 40px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: solid black 1px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.2);
    box-shadow:  0 5px 15px rgba(0,0,0,0.5);
}
.footer{
   height: 145px;
   border: solid black 1px; 
   margin-top: 5px;
   background-color: #2f0505;
   color: white;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.footer__button{
   width: 300px;
   box-shadow:  0 5px 15px rgba(0,0,0,0.5);
   cursor: pointer;
}
caption{
    font-weight: bolder;
}
input,.footer__button{
    margin-top: 5px;
}

